.error{
    color: red;
    display: none;
}


.form{
	color: #333333;
	text-decoration-color: #333333;
	border:none;
	background: none;
	border-bottom: 2px solid #333333;
	border-radius: 3px;
	width: 95%;
	margin-left: 2%;
	height: 40px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	margin-right: 5%;
	letter-spacing: 0.05em;
}


 .formBox{
 	display: block;
 	width: 80%;
 	margin: 0 auto;

 }


 div.reservationinfo{
 	float: none;
 	width: 90%;
 	padding: 10px;
 	color: rgba(0,130,159,0.82);
 	
 }

 button.resbutton{
 	display: none;
 }

.formtext{
	margin: 10px;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	color: #F2F2F2;

}

#submitContact{
	margin-bottom: 10%;
}

 @media only screen and ( min-width: 900px){
 
 div.reservationinfo{
 	color: #F2F2F2;
 }

.formBox{
 	display: block;
 	width: 50%;
 	margin: 0 auto;
 }


.formtext{
	color: #333333;

}

}