html{
	background-color: #F2F2F2;
}

.background{
	width: 100%;
	display: inline-block;
	height: auto;
	background: rgba(0,130,159,0.82);
}

/*POP UP STYLE*/
.popup {
    position: relative;
    cursor: pointer;  
}

.popup .popuptext {
    visibility: hidden;
    position: absolute;
    bottom: -500%;
}


.popup .show {
    visibility: visible;  
    position: relative;  
}
	
.locationwrapper{
	margin-top: 20%;
}

.headline{
	color: #F2F2F2;
	font-size: 60px;
	text-align: center;
	margin: 0.67em;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}
h1.h1header{
	margin: 0 auto;
}

.breadcrumbs{
	color: #006B82;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
	width: 60%;
}

.breadcrumbs a{
	color: #006B82;
}

.søkefelt{
	margin: 0 auto;
	
	width: 60%;
}
input.søkinput{
	width: 70%;
	align-content: center;
}

a.søkbutton {
	display: inline-block;
	padding: 4px;
  	text-align: center;
  	width: 25%;
  	max-width: 100px;
  	
  	float: right;

  	text-decoration: none;
	color: rgba(0,130,159,0.83);
	border: none;
	border-radius: 3px;
	font-size: 20px;
	background: #f2f2f2;
	font-family: 'Raleway', sans-serif;
}


.søkinput{
	font-size: 12px;
}



::placeholder{
	color:#F2F2F2;
}

.inputtwo{
   color: #F2F2F2;
	text-decoration-color: #F2F2F2;
	border:none;
	background: none;
	border-bottom: 2px solid #F2F2F2;
	border-radius: 3px;
	width: 75%;
	height: 40px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	
	letter-spacing: 0.05em;
}


.input{
	color: #F2F2F2;
	text-decoration-color: #F2F2F2;
	border:none;
	background: none;
	border-bottom: 2px solid #F2F2F2;
	border-radius: 3px;
	width: 95%;
	margin: 2%;
	height: 40px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	margin-right: 5%;
	letter-spacing: 0.05em;
}

input.withicon {
  background: url('../resources/ikoner/calender_blue.svg');
  background-position:right;
  background-repeat:no-repeat;
  filter: brightness(0) invert(1);
}

div.datoinput{
	margin: 2%;
	border-radius: 5px;
}


select.kategorielect:focus{
	outline: none;
}

select.stedselect:focus{
	outline: none;
}

input:hover{
	outline: none;
}
input:focus{
	outline: none;

}

button:hover{
	filter: opacity(0.8);
	cursor: pointer;
}

.header{
	padding-bottom: 50px;
}

.wrapper{
    font-family: 'Raleway', sans-serif;
	letter-spacing: 0.05em;
	margin-top: 20px;
	font-weight: normal;
}
.ikontext{
	color: #F2F2F2;
	margin-top: 15px;
}

.ikonimg{
	height: 60px;
	width: auto;
}

.ikonwrap{
	margin: 0 auto;
	width: 40%;
	padding: 5%;
	float: left;
	text-align: center;
	margin-bottom: 4%;
	border-radius: 4px;
	
}

.ikonwrap:hover{
	cursor: pointer;
	/*background: rgba(0,130,159,0.92);*/
}
img.ikonimg:hover{
	filter: opacity(0.7);
}
a.ikonwrap:link{
	text-decoration: none;

}
a.iknowrap:visited{
	text-decoration: none;
}
a.ikonwrap:active{
	background: rgba(0,130,159,0.92);
}
a:visited {
    color: none;
}



footer{
	width: 100%;
	background: rgba(0,130,159,0.82);
	display: inline-block;
	height: 200px;
}




                                              /*search specific css*/





.utvidetsøkefelt{
	margin: 0 auto;
	width: 90%;
}
.utvidetsøkeinput{
	width: 95%;
	margin: 2.4%;
}

.utvidetsøkbutton {
	background: #F2F2F2;
	border: none;
	border-radius: 3px;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	color: rgba(0,130,159,0.82);
	border-radius: 100%;
	width: 100px;
}




select.kategorielect{
	
	width: 45%;
	margin: 2%;
	height: 40px;
	font-size: 20px;
	background: none;
	color: #f2f2f2;
	letter-spacing: 0.05em;
	font-family: 'Raleway', sans-serif;
	border:none;
	border-bottom: 2px solid #f2f2f2;


}
select.stedselect{

	width: 45%;
	margin: 2%;
	height: 40px;
	font-size: 20px;
	background: none;
	color: #f2f2f2;
	letter-spacing: 0.05em;
	font-family: 'Raleway', sans-serif;

	border:none;
	border-bottom: 2px solid #f2f2f2;
	float: right;
}



button.utvidetsøkbutton{
    margin-left: 43%;
 
	margin-top: 5%;
	width: 4.5em;
	height: 4.5em;
	border-radius: 100%;
}

#submitContact a{
	color: #F2F2F2;
	width: 100%;
	height: 100%;
	text-decoration: none;


}


a.location{
	display: inline-block;
	width: 95%;
	height: 200px;
	margin: 2%;
	margin-top: 0%;
	background: #F2F2F2;
	border-radius: 2px;
	text-decoration: none;

}
a.location:hover{
	filter: opacity(.8);
	cursor: pointer;
}
a.location{
	background: #f3f3f3;
}
img.locationimg{
	height: 90%;
	width: 50%;
	max-width: 250px;
	
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 3px;
}

h2.locationname{
	color: #333333;
	margin: 0.23em;
	font-family: 'Raleway', sans-serif;
}
p.locationinfo{
	width: 90%;
	color: #333333;
	width: 100%;
	font-size: 20px;
	margin: 0.23em;
	font-family: 'Roboto', sans-serif;
}
@media only screen and (max-width: 435px){
	h2.locationname{
		font-size: 15px;
		
	}
	p.locationinfo{
		font-size: 15px;
	}

	.breadcrumbs{
		color: #F2F2F2;
		font-family: 'Raleway', sans-serif;
		margin: 0 auto;
		width: 60%;
	}

	.breadcrumbs a{
		color: #F2F2F2;
	}
}





p.locationprice{
	font-size: 20px;
	background: rgba(0,130,159,0.82);
	margin: 1%;
	width: 100px;
	padding-left: 30px;
	border-bottom-left-radius: 100px;
	float: right;
	border-radius: 2px;
	color: #f2f2f2
	

}
div.mapwrap{
	visibility: hidden;
	
}











                                  




                                /* location specific css*/









img.img1{
	width: 90%;
	margin: 0 auto;
}
div.imgcontainer{
		display: inline-block;
		width: 100%;
	}
div.nokkelinfo{
	width: 90%;
	text-align: center;
	margin: 0 auto;
	padding-top: 10px;
	
}
p.contacttxt{
	font-family: 'Raleway', sans-serif;
	text-align: left;
	padding-left: 10px;	
	margin-top: 10px;
}



div.infowrap{

	width: 90%;
	margin: 0 auto;
	margin-top: 100px;
}
p.nokkelinfo{

	margin: 0 auto;
	padding: 5px;
	color: #f2f2f2;
	font-size: 20px;

}
p.merinfo{
	text-align: left;
	padding: 5px;
	color: #f2f2f2;

}
h2.locationtxt{
	margin-top: 20px;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	color: white;
	border-bottom: 2px solid #f2f2f2;
}
div.contactinfo{
	display: block;
	margin: 0 auto;
	text-align: center;
	height: 300px;
	margin-top: 100px;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	color: #f3f3f3;
}

div.reservationwrap{
	display: block;
	margin: 0 auto;
	width: 90%;
	
}
div.reservationinfo{
	display: block;
	background: #f2f2f2;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
	height: 230px;	
	
}
h4.dinres{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	padding-top: 10px;
	color: rgba(0,130,159,0.83);
}
p.dinrestxt{
	margin: 10px;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	color: rgba(0,130,159,0.83);
}
a.resbutton{
	text-decoration: none;
	background: rgba(0,130,159,0.83);
	border:none;
	margin-right: 10px;
	border-radius: 3px;
	padding: 5px;
	font-size: 20px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	color: #F2F2F2;
	width: 100px;
	float: right;
}





.img2{
	display: none;
}
.img1{
	display: block;

}




@media only screen and ( min-width: 900px){	


input.withicon {
	 background: url('../resources/ikoner/calender_blue.svg');
  background-position:right;
  background-repeat:no-repeat;

  filter: none;
  

}

	.input{
	margin: 2%;
	color: #333333;
	text-decoration-color: #F2F2F2;
	border:none;
	background: none;
	border-bottom: 2px solid #333333;
	border-radius: 3px;
	width: 95%;
	height: 40px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	margin-right: 5%;
	letter-spacing: 0.05em;
}




div.mapwrap{
	visibility: hidden;
}
.utvidetsøkefelt{
	margin: 0 auto;
	width: 0%;
}

.background{
	background-color: #F2F2F2;
}
.bg_blue{
	background: rgba(0,130,159,0.82);
}

.headline{
	color: rgba(0,130,159,0.82);
	font-size: 80px;
}
.headline2{
	color: #f2f2f2;
}
 .ikontext{
		font-size: 17px;
	}

select.kategorielect{
	color: #333333;
	border-bottom: 2px solid #333333;
}

select.stedselect{
	color: #333333;
	border-bottom: 2px solid #333333;
}

input.datoinput{
	border-bottom: 2px solid #333333;

}

input.utvidetsøkeinput{
	border-bottom: 2px solid #333333;
}

::placeholder{
	color: #333333;
}

button.utvidetsøkbutton{
	background: rgba(0,130,159,0.82);
	color: #F2F2F2;
}

p.locationinfo{
	color: #F2F2F2;
	font-size: 15px;
}

	h2.locationname{
	color: #F2F2F2;
}

a.location{
	background: rgba(0,130,159,0.82);

}

p.locationprice{
	background-color: #F2F2F2;
	color: rgba(0,130,159,0.82);

}


button.utvidetsøkbutton{
	float: right;
	margin: 1.5%;
	border-radius: 3px;
	width: 18%;
	height: 40px;
}




                   /* LOCATION spesific!!!! */




	.ikonwrap{
		width: 40%;
		padding: 5%;	
	}

	.img2{
		display: block;
	}
	.img1{
		display: none;
	}

	div.imgheader{
		margin: 0 auto; 
		width: 70%;
		height: 300px;
		padding-top: 100px;	
	}
	img.headimg{
		width: 100%;
		max-height: 300px;
	}
	div.imgcontainer{
		display: inline-block;
		width: 60%;
	}
	.headimg{
		height:100%;
		width: auto;
		float: left; 
	}

	div.nokkelinfo{
	float: right;
		background: rgba(0,130,159,0.82);
		width: 40%;
		height: 100%;
		padding-top: 0px;
	
	}
	p.nokkelinfo{	
	
		color: #f2f2f2;

	}
	div.infowrap{
		
		margin: 0 auto;
		margin-top: 100px;
		margin-bottom: 100px;
		width: 70%;
		height: 200px;
	}
	div.locationinfo{
		display: inline-block;
		
		width: 70%;
		height: 100%;
		float: left;

	}
	h2.locationtxt{
		color: black;
		padding-top: 8px;
		width: 50%;
		border-bottom: 2px solid rgba(0,130,159,0.82);
		font-size: 16px;
		border-radius: 4px;
	}
	div.contactinfo{
		display: inline-block;
		width: 29%;
		height: 100%;
		float: left;
		margin-top: 0px;
		border-left: 2px solid rgba(0,130,159,0.82);
		color: #333333
	}
	div.reservationwrap{
		margin: 0 auto;
		width: 70%;
		
		
		padding-bottom: 100px;
	}
	
	
	div.reservationinfo{
		
		background: rgba(0,130,159,0.82);
		width: 30%;
		float: right;
		margin-top: 0px;
		padding:20px;
		height: auto;
	
		
	}
	a.resbutton{
	
	font-family: 'Raleway', sans-serif;
	color: rgb(0,130,159,0.82);
	background: #F2F2F2;
	margin-right: none;
	
	}
	
	div.locationcalendar{
		width: 50%;
		display: inline-block;
		background: rgba(0,130,159,0.82);
		padding: 10px;
	}
	div.searchcalendar{
		width: 90%;
		margin: 3%;
	}
	h4.dinres{
		font-size: 16px;
		color: #F2F2F2
	}
	p.dinrestxt{
		font-size: 14px;
		color: #f2f2f2;
	}


	
}




@media only screen and (min-width: 900px){		

	

	
	.headline{
	font-size: 80px;
	}

	.header{
		padding-bottom: 30px;
	}

	.wrapper{
		width: 60%;
		margin: 0 auto;
		font-size: 16px;
		text-align: center;
	}

	


	.søkefelt{
		width: 50%;
		padding-bottom: 50px;
	}

	.ikonwrap{
		margin: 0 auto;
		width: 15%;
		float: left;
	}
	img{
		width: 100%;

	}


   .søkinput{
	font-size: 20px;
    }

	


                             /*search spesific css!*/



/*POP UP STYLE*/
.popup {
    position: relative;
    cursor: pointer;

   
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    position: absolute;
    bottom: -550%;
}


.popup .show {
    visibility: visible;    
    position: relative;
}
           

.utvidetsøkefelt{
	margin: 0 auto;
	width: 50%;
	margin-bottom: 100px;
}
.utvidetsøkbutton {

	width: 18%;
	height: 40px;
	background: #F2F2F2;
	border: none;
	border-radius: 3px;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
}
.locationwrapper{
 	display: inline-block;
 	width: 45%;
 	margin-left: 3%;
 	height: 1000px;
 	margin-top: 80px;
 	
}  
div.mapwrap{
	display: inline-block;
	width: 45%;
	margin-right: 3%;
	height: 1000px;
	background: gray;
	float: right;
	margin-top: 80px;
}                



div.mapwrap{
	visibility: visible;
}


}

.inputtwo{
   color: #F2F2F2;
	text-decoration-color: #F2F2F2;
	border:none;
	background: none;
	border-bottom: 2px solid #F2F2F2;
	border-radius: 3px;
	width: 75%;
	height: 40px;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	letter-spacing: 0.05em;
}

.inputtwo::placeholder{
	color: #F2F2F2F2;
}