div{
	display: inline-block;
}

button{
	background-color: #EEEEEE;
	border: 2px solid #888888;
	border-radius: 2px;
	font-weight: bold;
}

#topRow{
	display: flex;
	justify-content: space-between;
	padding: 4px;
}

#daysRow{
	height: 20px;
	margin-top: -8px;
	margin-bottom: 4px;
}

.row{
	display: flex;
	justify-content: left;
}

.rowBox{
	width: 25px;
	height: 20px;
	padding: 4px;
	margin: 2px;

	display: flex;
	justify-content: center;
}

.day{
	background-color: #EEEEEE;
	border-radius: 2px;
}

.otherMonth{
	color: #BBBBBB;
}

#today{
	background-color: #AAFFCC;
}